
/* h2 {
  display: flex;
  justify-content: center;
} */

/* .footer {
  border: solid blue;
}

.navbar {
  height: auto;
  border: solid blue;
  display: flex;
  justify-content:space-between;
}

.routes {
  border: solid blue;
} */

/* userWorkout styling */
.btn-useroverview:hover {
  background-color: #F7FAFC;
}

.btn-useranalysis:hover {
  background-color: #F7FAFC;
}

/* d3 chart styling */
.x-grid line {
  stroke: lightgray;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
  pointer-events: none;
}

.y-grid line {
  stroke: lightgray;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
  pointer-events: none;
}

.main {
  height: 100%;
}

@media (max-width: 1024px ) {
  #landing {
    flex-direction: column;
  }
}

@media (max-width: 800px ) {
  #footer {
    flex-direction: column;
  }
}