
/* h2 {
  display: flex;
  justify-content: center;
} */

/* .footer {
  border: solid blue;
}

.navbar {
  height: auto;
  border: solid blue;
  display: flex;
  justify-content:space-between;
}

.routes {
  border: solid blue;
} */

@media (max-width: 1024px ) {
  #landing {
    flex-direction: column;
  }
}

@media (max-width: 800px ) {
  #footer {
    flex-direction: column;
  }
}